{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

    <h2>List of posts</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{{ path('postshow', {id:post.id}) }}">{{ post.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
