{% extends('base.html.twig') %}
{% block body %}

    <h4>Details</h4>

    <label><strong>ID : </strong> {{ post.id }}</label>
    <label><strong>Title : </strong> {{ post.title }}</label>

{% endblock %}